python-dotenv~=1.0.0
uvicorn~=0.25.0
youtube-transcript-api
html2text
urllib3
requests
browserbase
firecrawl-py
playwright
MainContentExtractor
newspaper3k
scrapfly-sdk
spider-client==0.0.27
trafilatura~=1.4
selenium
unstructured
chromedriver-autoinstaller
lxml_html_clean
tiktoken
chainlit
unstructured
llama-index
llama-index-readers-web==0.2.1
asgiref~=3.7.2
beautifulsoup4~=4.12.2
google-cloud-aiplatform
###
astrapy
bugsnag
