asgiref~=3.7.2
astrapy==1.4.1
beautifulsoup4~=4.12.2
bugsnag~=4.6.0
fastapi~=0.110.1
google-api-python-client~=2.109.0
google-cloud-aiplatform
httpx==0.27.2
httpx[http2]==0.27.2
openai
python-dotenv~=1.0.0
ragstack-ai
tiktoken
uvicorn~=0.25.0
chainlit~=1.1.402
llama-index-readers-web

###
requests
urllib3
browserbase==0.3.0
firecrawl-py
playwright
MainContentExtractor
newspaper3k
scrapfly-sdk
html2text
spider-client
trafilatura
unstructured
selenium
chromedriver-autoinstaller